.Home {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Home img {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side {
  float: left;
  width: 33.33%;
  padding: 5px;
}
